PORT=5000
DB_USERNAME=<Mongodb username>
DB_PSWD=<Mongodb password>
JWT_SECRET=<Jwt secret string>
EMAIL=<Nodemailer email id>
EMAIL_PSWD=<Nodemailer email password>
CLOUD_NAME=<Cloudinary cloud name>
API_KEY=<Cloudinary api key>
API_SECRET=<Cloudinary api secret>